<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Directorio Usuarios</ion-title>
    <ion-buttons slot="end">
      <ion-button>Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-center">
  <p>Seleccione la opcion para el directorio:  </p>
    <ion-button expand="center" color="tertiary" routerLink="/listado">Listado de Directorios</ion-button>
    <ion-button expand="center" color="tertiary" routerLink="/mapa">Agregar Nuevo</ion-button>
</ion-content>
<!--
<ion-content>
  <p>Contenido principal...</p>
<ion-list>
  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
  <ion-button expand="block">Enviar</ion-button>
</ion-list>
<ion-card>
  <img src="assets/user.png" alt="Usuario">
  <ion-card-header>
    <ion-card-title>José Pila</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Estudiante de Desarrollo de Software
  </ion-card-content>
</ion-card>

<ion-list>
  <ion-item>Elemento 1</ion-item>
  <ion-item>Elemento 2</ion-item>
  <ion-item>Elemento 3</ion-item>
</ion-list>

<ion-grid>
  <ion-row>
    <ion-col>A</ion-col>
    <ion-col>B</ion-col>
    <ion-col>C</ion-col>
  </ion-row>
</ion-grid>

<ion-modal trigger="open-modal">
  <ng-template>
    <ion-content>
      <h3>Detalles</h3>
      <p>Contenido del modal...</p>
      <ion-button expand="block" id="close-modal">Cerrar</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-list>
  <ion-item>
    <ion-icon name="mail-outline" slot="start"></ion-icon>
    <ion-label>Correo</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="call-outline" slot="start"></ion-icon>
    <ion-label>Teléfono</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="location-outline" slot="start"></ion-icon>
    <ion-label>Dirección</ion-label>
  </ion-item>
</ion-list>

<ion-buttons>
  <ion-button color="primary">Guardar</ion-button>
  <ion-button color="medium">Cancelar</ion-button>
</ion-buttons>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title size="small">© 2025 José Pila</ion-title>
  </ion-toolbar>
</ion-footer>
-->
