<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pokédex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Barra de búsqueda -->
<ion-item>
    <ion-input
      placeholder="Buscar Pokémon por nombre"
      [(ngModel)]="searchTerm"
      type="text"
      clear-input>
    </ion-input>
    <ion-button (click)="searchPokemon()" color="primary">
      Buscar
    </ion-button>
  </ion-item>
  <!-- Spinner de carga -->
  <div class="ion-text-center" *ngIf="isloading">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
    <p>Cargando Pokémon...</p>
  </div>

  <!-- Cuadrícula de Pokémon -->
  <ion-grid *ngIf="!isloading">
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let p of pokemons">
        <ion-card (click)="abrirDetalles(p.name)" class="pokemon-card"  >
          <img [src]="p.sprites.front_default" alt="{{p.name}}" />
          <ion-card-header>
            <ion-card-title>{{ p.name | titlecase }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Navegación entre páginas -->
  <ion-footer class="ion-padding">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="anterior()" [disabled]="offset === 0">
          ← Anterior
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="siguiente()">
          Siguiente →
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>

</ion-content>
