<ion-content class="ion-padding">
  <ion-spinner *ngIf="isloading"></ion-spinner>

  <ion-grid *ngIf="!isloading">
    <ion-row>
      <ion-col size="6" *ngFor="let p of pokemons">
        <ion-card>
          <img [src]="p.sprites.front_default" alt="{{p.name}}">
          <ion-card-header>
            <ion-card-title>{{ p.name | titlecase }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Altura:</strong> {{ p.height }}</p>
            <p><strong>Peso:</strong> {{ p.weight }}</p>
            <p><strong>Tipo:</strong> {{ p.types[0]?.type?.name }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="anteriorPagina()" [disabled]="offset === 0">Anterior</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="siguientePagina()">Siguiente</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>
